@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@200&family=Roboto:wght@700&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

a {
   color: inherit;
}
body {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   
   line-height: 1.2;
}

.wrapper {
   display: flex;
   flex-direction: column;

   position: relative;
   width: 100%;
   height: 100%;
}

.container {
   max-width: 1200px;
   padding: 0 10px;
   margin: 0 auto;
}

.content {
   flex: 1 1 auto;
}
/* Header */
.header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;

   width: 100%;   
}


.header__body {
   display: flex;
   justify-content: space-between;
   padding: 31px 0;
   border-bottom: 1px solid #292929e8;
}

.header__logo {
   display: block;
   max-width: 100%;
   height: 35px;
   margin-top: 31px;
}

.menu {
   padding: 5px 0;
}
.menu__list {
   display: flex;
   justify-content: space-between;
}
.menu__list *:last-child {
   margin-right: 0;
}
.menu__item {
   margin-right: 65px;
}

.menu__link {
   position: relative;
   color: #fff;
}

.menu__link::after {
   content: "";
   display: block;
   position: absolute;
   top: 61px;
   left: 0;
   width: 100%;
   height: 1px;

   background-color: #fff;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

.menu__link:hover:after {
	opacity: 1;
}

/* Hero */
.hero {
   position: relative;
   width: 100%;
   height: 100vh;

   background: url('../img/header_bg.png') 0 0/100% 100% no-repeat;
}

.hero__body {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   text-align: center;
   color: #FFFFFF;
}
.hero__title {
   font-family: 'Roboto', sans-serif;
   font-size: 72px;
   font-weight: bold;

   text-transform: uppercase;

   margin-bottom: 33px;
}

.hero__subtitle {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 32px;

   line-height: 1.3;
}

.member {
   display: flex;
   align-items: center;
   width: 100%;
   height: 120px;

   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 3;

   padding: 0 10px;
}

.member::before {
   content: "";

   display: block;
   position: absolute;
   bottom: 0;
   left: 0;

   width: 100%;
   height: 120px;
   background-color: #39d082ee;
   z-index: -2;
}

.member::after {
   content: "";
   display: block;

   position: absolute;
   bottom: 0;
   left: -50px;
   
   width: calc(50% + 50px);
   height: 120px;

   background-color: #21424a;
   z-index: -1;
   transform: skewX(-10deg); 
}


.member__body {
   display: flex;
   justify-content: space-between;

   max-width: 690px;
   width: 100%;
   margin: 0 auto;

   font-family: 'Lato', sans-serif;
   font-size: 22px;
   font-weight: normal;
   text-transform: uppercase;

   color: #FFFFFF;
}
.member__body a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 50px;
}

/* Domain */
.domain__body {
   padding: 85px 0 95px;
}

.domain__title {
   text-align: center;
   width: 100%;

   font-size: 24px;
   font-weight: 600;

   color: #000000;

   margin-bottom: 30px;
}

.domain__subtitle {
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 200;

   margin-bottom: 50px;
}

.form {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 100%;
   height: 50px;

   border: 1px solid #D9D9D9;

   padding: 5px 0;
   margin-bottom: 45px;
}

.form input {
   display: flex;
   align-items: center;

   position: relative;

   width: 100%;
   height: 100%;

   padding: 0 15px;

   border: 2px solid #D9D9D9;
   border-top-color: transparent;
   border-bottom-color: transparent;

   font-weight: 700;
}

.form span,
.form select {
   display: block;
   
   width: 70px;
   margin: 0 15px;

   text-align: center;

   color: #D9D9D9;
}

.table {
   display: flex;
   justify-content: space-between;
   flex-direction: column;

   padding: 10px;
   border: 1px solid #D9D9D9;
   width: 100%;
   height: 195px;
}

.table__row {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 100%;
   height: 100%;
}
.table__row div {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;

   width: 100%;
   height: 100%;

   color: #D9D9D9;
   transition: color 0.3s linear;
}
.table__row div:hover {
   color: #000000;
}

.table__row div::before,
.table__row div::after {
   content: "";

   display: block;
   position: absolute;
   z-index: 2;

   background-color: #D9D9D9;
}
.table__row div::before {
   top: 0;
   left: 8px;
   right: 8px;
   
   height: 1px;
}

.table__row div::after {
   top: 8px;
   bottom: 8px;
   left: 0;

   width: 1px;
}

.table__row div:first-child::after {
   display: none;
}
.table__row:first-child div::before {
   display: none;
}

.table__price,
.table__first {
   text-transform: uppercase;
}
.table__period,
.table__desc {
   text-transform: capitalize;
}
.packages {
   width: 100%;

   background: url("../img/packages_bg.png") 50% 0/ 100% 380px no-repeat;
}

.packages__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   width: 100%;
   height: 100%;

   padding: 100px 0;
}

/* Current Package */
.basic__package {
   --pack_color: #f9d423;
   --pack_icon_code: "\f13d";
   --percent: 30;
}
.normal__package {
   --pack_color: #7f8d8c;
   --pack_icon_code: "\f123";
   --percent: 40;
}
.big__package {
   --pack_color: #f85f40;
   --pack_icon_code: "\f005";
   --percent: 70;
}
.biggest__package {
   --pack_color: #1abc9c;
   --pack_icon_code: "\f219";
   --percent: 10;
}
.number {
   color: var(--pack_color);
}
.package {
   display: flex;
   flex-direction: column;
   align-items: center;

   background-color: #FFFFFF;
   color: #292929e8;
   padding: 35px 30px;

   position: relative;
}
.package::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;

   height: 5px;
}

.percent {
   position: relative;
   z-index: 100;
}
.percent svg {
   --sw: 6px;
   width: calc(55px + var(--sw));
   height: calc(55px + var(--sw));
}
.percent svg circle {
   width: 100%;
   height: 100%;
   fill: none;
   stroke: var(--pack_color);
   stroke-width: var(--sw);
   transform: translate(var(--sw), var(--sw));
   stroke-dasharray: 200;
   stroke-dashoffset: calc(200 - (200 * var(--percent)) / 100);
}
.percent i {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1000;
   transform: translate(-50%, -50%);
}
.percent i::before {
   content: var(--pack_icon_code);
   color: var(--pack_color);
}

.package__list  {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   width: 200px;
   height: 300px;
   margin-top: 20px;
   padding: 10px 0;
   margin-bottom: 30px;
}
.package__list::before, 
.package__list::after  {
   content: "";
   display: block;

   position: absolute;

   left: 0;
   z-index: 2;

   width: 100%;
   height: 1px;
   background-color: #292929e8;
}

.package__list::before {
   top: 0;
} 
.package__list::after {
   bottom: 0;
}

.package__item {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 100%;

   margin: 10px 0;
}

.package__title {
   margin-top: 20px;
   text-align: center;
   font-size: 16px;
   font-weight: 700;
}

.package__price {
   position: relative;
   font-size: 27px;
   font-weight: 900;
   margin-bottom: 30px;
}
.package__price span {
   position: relative;
   font-size: 13px;
   font-weight: 400;
}

.package__price::after {
   content: "";
   display: block;
   position: absolute;
   bottom: -5px;
   left: 50%;
   width: 100px;
   height: 4px;

   transform: translateX(-50%);
   background-color: var(--pack_color);
}
.package__link {
   display: flex;
   justify-content: center;
   align-items: center;
      
   text-transform: uppercase;

   font-size: 16px;
   font-weight: bold;
}


.about {
   width: 100%;
}

.about__body {
   display: flex;
   align-items: center;
  
   border-top: 2px dashed #D8D8D8;
   border-spacing: 5px;

   height: 400px;
   padding: 100px 0;
}
.about__cont  {
   width: 100%;
   border-right: 2px dashed #D8D8D8;
   border-spacing: 5px;
   padding-right: 100px;
   margin-right: 100px;
}
.about__text {
   display: inline-block;
   width: 100%;
   max-width: 620px;
}
.about__title {
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 20px;
} 
.about__title span {
   font-weight: 900;
} 
.about__text {
   font-size: 18px;
   text-overflow: ellipsis;
} 

.team {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.man {
   display: flex;
   flex-direction: column;
   align-items: center;

   width: 120px;
}

.man__icon {
   display: block;
   width: 100px;
   height: 100px;

   border: 3px solid #D8D8D8;
   border-radius: 50%;
}

.man__links {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 85px;
}

.man__name {
   margin: 15px 0 8px;
   font-size: 17px;
   font-weight: 600;
}
.man__profession {
   color: #bbbbbb;
   margin-bottom: 13px;
}

.man__facebook,
.man__twitter,
.man__something {
   display: block;
}

.man__facebook,
.man__twitter,
.man__something {
   color: #bbbbbb;
   transition: color 0.3s ease-in-out;
}

.man__facebook:hover,
.man__twitter:hover,
.man__something:hover {
   color: #1f89ba;
}

.man__facebook::before {
   content: "\f09a";
}
.man__twitter::before {
   content: "\f099";
}
.man__something::before {
   content: "\f0c1";
}


.comments {
   width: 100%;
   background: url('../img/comments_bg.png') 0 0/100% 100% no-repeat;
}

.comments__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   text-align: center;
   height: 190px;
   color: #FFFFFF;
}

.comments__txt {
   max-width: 870px;
   margin-bottom: 25px;
   
   font-size: 20px;
}

.comments__link {
   text-transform: capitalize;

   font-weight: 700;
   font-size: 20px;
}


.functions {
   width: 100%;
   
   background-color: #FFFFFF;
}

.functions__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   width: 100%;
   height: 345px;
}

.function_1 {
   --fun_color: #f1c40f;
   --fun_icon_code: "\f0e7";
}
.function_2 {
   --fun_color: #0faff1;
   --fun_icon_code: "\f0c2";
}
.function_3 {
   --fun_color: #95a5a6;
   --fun_icon_code: "\f047";
}
.function_4 {
   --fun_color: #f1540f;
   --fun_icon_code: "\f086";
}
.function {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   width: 100%;
   height: 100%;

   padding: 25px;
}
.functions__icon {
   position: relative;
   width: 63px;
   height: 63px;

   border-radius: 50%;
   background-color: var(--fun_color);
   transition: transform 0.3s ease-in-out;
}
.functions__icon:hover {
   transform: scale(1.2, 1.2);
}
.functions__icon::before {
   content: var(--fun_icon_code);
   position: absolute;
   display: block;
   top: 50%;
   left: 50%;
   z-index: 100;

   color: #fff;
   font-size: 31px;
   
   transform: translate(-50%, -50%);
}
.function__title {
   font-size: 18px;
   margin: 15px 0 8px;
   font-weight: 600;
   margin: 20px 0 15px;
}
.function__desc {
   max-width: 230px;
   font-size: 16px;
   text-align: center;
   color: #bbbbbb;
}


.footer {
   width: 100%;
   background-color: #2A2A2A;
}
.footer__body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 295px;
}

.footer__top {
   display: flex;
   justify-content: space-between;
   padding: 31px 0;
   border-bottom: 1px solid #444444;
}

.footer__content {
   display: flex;
   align-items: center;
   height: 100%;

   padding: 10px 0;

   color: #4a4a4a;
}
.fb {
   display: flex;
   justify-content: space-between;

   height: 120px;
}

.footer__desc {
   width: 380px;
   padding-right: 80px;
}
.desc__text {
   margin-bottom: 24px;
}
.desc__designer span {
   font-weight: bold;
}

.footer__links {
   display: flex;
   justify-content: center;

   position: relative;
   width: 496px;
   height: 100%;
}

.footer__links::before,
.footer__links::after {
   content: "";
   display: block;

   position: absolute;
   top: -20px;
   bottom: -20px;
   width: 1px;
   background-color: #4a4a4a;
}
.footer__links::before {
   left: 0;
}
.footer__links::after {
   right: 0;
}

.footer__list {   
   font-size: 15px;
   line-height: 2;
}
.footer__item {
   width: 135px;
   transition: color 0.3s ease-in-out;
}
.footer__item:hover {
   color: #FFFFFF;
}
.footer__item::before {
   content: ">";
   margin-right: 7px;
   color: currentColor;
}
.footer__item:hover::before {
   margin-right: 17px;
}

.footer__list + .footer__list {
   margin-left: 65px;
}

.contacts {
   width: 300px;
   padding-left: 80px;
}

.phone,
.mail,
.address {
   transition: color 0.3s ease-in-out;
   font-family: inherit;
   font-style: inherit;
}

.phone::before {
   content: "\f095";
   margin-right: 10px;
}

.mail::before {
   content: "\f0e0";
   margin-right: 10px;
}

.phone:hover,
.mail:hover,
.address:hover {
   color: #fff;
}

